@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;
}

.content-wrapper {
  padding: 20px;
}
