.LoginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.input {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.btn {
  margin-top: 10px;
  margin-left: auto;
}
