.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  pointer-events: none;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: var(--mask-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border-radius: 5px;
  padding: 10px 15px;
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  max-width: 50%;
  transition: 0.4s transform;
  transform: scale(0.5);
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
