.app_dark_theme {
  --bg-color: #0e0e75;
  --inverted-bg-color: #d2d2d8;
  --primary-color: #08d108;
  --secondary-color: #067206;
  --inverted-primary-color: #021d8a;
  --inverted-secondary-color: #084fe7;
}
